body {
	background-color: rgb(255,255,255);
}
h1 {
	font-family: 'futura';
	font-weight: normal;
	letter-spacing: 20pt;
	font-size: 60pt;
	color: rgb(0,0,0);
	z-index: 100;
}
.fname {
	position: absolute;
	top: 0%;
	left: 5%;
}
.lname {
	position: absolute;
	top: 8%;
	left: 40%;
}
/*.readings {
	background-color: rgb(28,148,29);
	position: absolute;
	top: 10%;
	left: 75%;
	height: 100pt;
	width: 150pt;
	z-index: 1;
}*/
img {
	position: absolute;
	top: 10%;
	left: 75%;
	height: 100pt;
	width: 150pt;
	z-index: 1;
}


