body {
	background-color: rgb(163, 181, 165);
}
p {
	font-family: 'courier';
	font-size: 12pt;
	color: rgb(0,0,0);
}
h3 {
	font-family: 'courier';
	font-size: 12pt;
	font-weight: bold;
	color: rgb(0,0,0);
}
.window, .window2, .window3 {
	position: absolute;
	z-index: 1;
}
.window {
	height: 460px;
	width: 700px;
}
.window2 {
	top: 2%;
	left: 42%;
	height: 1360px;
	width: 945px;
}
.window3 {
	top: 66%;
	left: 0.2%;
	height: 690px;
	width: 713px;
}
.week1, .week2, .week3 {
	position: absolute;
	z-index: 1;
}
.week1 {
	top: 6%;
	left: 3%;
	height: 500px;
	width: 630px;
}
.week2 {
	top: 18%;
	left: 52.5%;
	height: 500px;
	width: 630px;
}
.week3 {
	top: 71%;
	left: 3%;
	height: 500px;
	width: 630px;
}
