body {
	overflow: hidden;
	cursor: default;
}
h1, p {
	font-family: 'helvetica';
	font-weight: bold;
	font-size: 30px;
}
span {
	font-size: 30px;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/*The structure of the box*/
#boxlid {
	background-color: rgb(99, 59, 24);
	position: fixed; 
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	width: 350px;
	height: 300px;
	z-index: 20;
}
#title {
	position: relative;
	top: 140px;
	left: 30px;
}
#title2 {
	position: fixed;
	bottom: -10px;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
}

/*changing scent names*/
#scent_name {
	position: fixed;
	top: 30px;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
}

/*flexbox containers*/
#items, #random_items {
	position: absolute; 
	top: 55%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	width: 600px;
	height: 500px;
	display: flex;
	flex-flow: wrap;
	z-index: 12;
}
#grid_items {
	position: absolute;
	left: 370px;
	width: 75%;
	display: flex;
	flex-flow: wrap;
	z-index: 12;
}
#color_items {
	position: absolute;
	left: 60%;
	top: 50%;
	display: none;
}

/*flexbox children */
.scents {
	width: 140px;
	height: 200px;
	padding: 30px;
	margin-bottom: 70px;
	margin-top: 70px;
}
.scents:hover {
	background-color: blue;
}
.vials {
	width: 140px;
	height: 200px;
}

/*clickable text*/
#more_scroll {
	position: fixed;
	top: 45%;
	right: 0px;
	transform: rotate(-90deg);
	display: none;
}
#more_scroll:hover {
	color: blue;
}
#sort_filter {
	position: fixed;
	top: 43%;
	left: 0px;
	transform: rotate(90deg);
	display: none;
	z-index: 20;
}
#sort_filter:hover {
	color: blue;
}
#less {
	position: fixed;
	top: 45%;
	right: 9px;
	transform: rotate(-90deg);
	display: none;
}
#less:hover {
	color: blue;
}

/*sort by navigation bar*/
.sidenav {
	left: 0px;
	top: 0px;
	height: 100%;
	width: 0;
	position: fixed;
	overflow-x: hidden;
	transition: all 0.5s ease;
	background-color: rgb(0,0,0); 
}
#color_click, #feeling_click, #package_click {
	padding: 20px;
	margin-left: -15px;
	position: relative;
	top: 180px;
	color: rgb(255,255,255);
	z-index: 100;
}
#color_click:hover, #feeling_click:hover, #package_click:hover {
	color: blue;
}
#close {
	position: absolute;
	top: 0px;
	left: 250px;
	color: rgb(255,255,255);
}
#close:hover {
	color: red;
}








