body {
	overflow: hidden;
}
h1, p {
	font-family: 'helvetica';
	font-weight: bold;
	font-size: 30px;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/*The structure of the box*/
#boxbody, #boxlid {
	background-color: rgb(99, 59, 24);
	position: fixed; 
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	width: 350px;
	height: 300px;
}
#boxbody {
	z-index: 10;
}
#boxlid {
	z-index: 20;
}
#boxlidshow {
	position: relative;
	bottom: 360px;
	left: 26px;
	width: 350px;
	height: 110px;
	background-color: rgb(99, 59, 24);
	transform: skewX(-25deg);
}
#title {
	position: relative;
	top: 140px;
	left: 30px;
}
#title2 {
	position: fixed;
	bottom: -10px;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
}
#scent_name {
	position: fixed;
	top: 30px;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
}

/*The interior of the box*/
#boxinside {
	position: relative;
	top: 25px;
	left: 25px;
	width: 300px;
	height: 250px;
	background-color: rgb(128, 77, 47);
	z-index: 11;
}
#items, #random_items {
	position: absolute; 
	top: 33%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	width: 300px;
	height: 80px;
	display: flex;
	flex-flow: wrap;
	z-index: 12;
}
.scents {
	width: 100px;
	height: 200px;
	padding: 10px
	margin-bottom: 100px;
	margin-top: 100px;
}
.scents:hover {
	background-color: blue;
}
.vials {
	width: 100px;
	height: 200px;
}

/*clickable text*/
#more_scroll {
	position: fixed;
	top: 45%;
	right: 0px;
	transform: rotate(-90deg);
	display: none;
}
#more_scroll:hover {
	color: blue;
}
#sort_filter {
	position: fixed;
	top: 43%;
	left: 0px;
	transform: rotate(90deg);
	display: none;
	z-index: 20;
}
#sort_filter:hover {
	color: blue;
}
#less {
	position: fixed;
	top: 45%;
	right: 9px;
	transform: rotate(-90deg);
	display: none;
}
#less:hover {
	color: blue;
}

/* sort by */
.sidenav {
	left: 0px;
	top: 0px;
	height: 100%;
	position: fixed;
	overflow-x: hidden;
	transition: all 0.5s ease;
	background-color: rgb(); 
}








